* {
  scroll-behavior: smooth;

}

header {
    text-align: center;
    background-color: beige;
    border: 0 auto;
    margin: 0 auto;
 }
 
 #name {
  background-color: #28282B;
  color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  border: 0 auto;
  margin: 0 auto;
  font-size: xx-large;
 }
 
 ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #CD7F32;
  }

  ul#nav.about-me {
    background-color: #36454F;

  }
   li.nav {
    float: left;
    margin: 0;
    padding: 0;
    border: 0 auto;
    margin: 0 auto;
  }
   li.nav a {
    display: block;
    color: beige;
    text-align: center;
    margin: 0;
    padding: 14px 16px;
    text-decoration: none;
  }
   li.nav:hover {
    background-color: #7B3F00;
    color: beige;
  }
  
  #portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-color: #CD7F32;
    border-width: 20px;
    border-style: solid;
  }

  body {
    background: repeating-linear-gradient(
      90deg,
      #36454F,
      #36454F 80px,
      #28282B 80px,
      #28282B 160px
    )
  }

  .header {
    display: flex;
    background-color: #CD7F32;
    color: beige;
    border: 0 auto;
    margin: 50px 0 0 0;
    padding: 10px;
  }

  #about-me {
    display: flex;
    background-color: #CD7F32;
    color:beige;
    border: 0 auto;
    margin: 0 auto;
    padding: 10px;
  }

  #about {
    display: flex;
    background-color: #CD7F32;
    color:beige;
    border: 0 auto;
    margin: 0 auto;
    padding: 10px;
  }

  #work {
    display: flex;
    background-color: #CD7F32;
    color:beige;
    border: 0 auto;
    margin: 20px 0 0 0;
    padding: 10px;
  }

  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #CD7F32;
    color: beige;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 0 auto;
    padding: 5px;
  }

  .place-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    transition: transform .2s;
  }

  .place-holder:hover {
    transform: scale(1.05);
  }

  .contact {
    display: flex;
    flex-direction: row;
    color: beige;
    background-color:#CD7F32;
    align-items: center;
    justify-content: center;
   line-height: 2.5;
   text-decoration: none;
   padding-left: 200px;
  }

  #contact-me {
    display: flex;
    background-color: #CD7F32;
    color: beige;
    border: 0 auto;
    margin: 20px 0 0 0;
    padding: 10px;
  }
